/* CSS Document */

:root {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-color: #C9C9CA #fff;
  scrollbar-width: auto;
}

.hidden {
  display: none;
}

/* ===== COMMON ELEMENTS ===== */

section {
  min-height: 100vh;
}

h1, h2 {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
}