/* CSS Document */

:root {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: #B9B9BF;
  background-image: url("../media/images/website-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#page-wrapper {
  width: 900px; 
  margin: 0 auto;
}

body {
  margin: 0px;
}

/* ================== Header Section ================== */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

/* ----- Logo ----- */

#logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 1.4em;
}

#logo h1 {
  text-shadow: -3px 3px 7px rgba(0, 0, 0, 0.4);
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin: 0.1em 0.3em 0;
}

#logo img {
  filter: drop-shadow(-5px 5px 8px rgba(0, 0, 0, 0.4));
  margin: 0px;
  height: 5.04em;
  width: 4.2em; 
}

/* ----- Nav Bar ----- */

header nav {
  display: flex;
  justify-content: center;
  background-color: #35353B;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(19,19,19,0.4);
  margin: 0.5em;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav a {
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-size: 1.05em;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0.7em 1.7em;
}

  header nav a:hover {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFE760;
    background-color: #424249;
  }

/* ================== General Elements ================== */

section {
  background-color: #35353B;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(19,19,19,0.4);
  padding: 0px;
  margin: 20px auto;
}

section div {
  padding: 10px 20px;
}

/* ----- Text ----- */

h1 {
  color: #F1F1F1;
  font-size: 1.65em;
  font-weight: 800;
  margin: 10px auto;
}

h2 {
  color: #F1F1F1;
  font-size: 1.35em;
  font-weight: 700;
  margin: 10px auto;
}

h3 {
  color: #F1F1F1;
}

p {
  font-size: 0.935em;
}

/* ================== Footer Styling ================== */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  color: #B9B9BF;
  background-color: #35353B;
  box-shadow: 0 5px 12px rgba(19,19,19,0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1.5em;
}

/* ----- Icon Links ----- */


#links img {
  width: 1.4em;
  margin: 5px;
  padding: 10px;
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.1)) brightness(2) grayscale(100%);;
}

  #links img:hover {
    filter: brightness(1) grayscale(0%);
    border-radius: 7px;
    background-color: #424249;
  }

/* ----- Text ----- */

footer a {
  color: #B9B9BF;
  text-decoration: none;
}

  footer a:hover {
    color: #F1F1F1;
    text-decoration: none;
  }

/* ================== Larger Screens ================== */

@media only screen and (max-width: 900px) 
{
  body {
    margin: 0 10px;
  }
  
  #page-wrapper {
    width: 100%;
  }
  
  /* ----- Header ----- */
  
  #logo h1 {
    font-size: 3em;
  }

  #logo img {
    height: 3.6em;
    width: 3em;
  }
  
  header {
    margin: auto 0px;
  }
  
  header nav {
    justify-content: space-around;
    font-size: 1em;
    width: 100%;
  }
  
  header nav a {
    width: 100%;
    padding: 1em 0;
  }
}