/* CSS Document */

h2 {
  text-align: center;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about video {
  width: 100%;
  height: 17em;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

#about div {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#about p {
  max-width: 80%;
  margin: 15px auto;
}

#about-links {
  text-align: center;
  margin: 0px auto 15px;
}

#about-links img {
  width: 1.4em;
  margin: 5px;
  padding: 10px;
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.1)) brightness(2) grayscale(100%);;
}

  #about-links img:hover {
    filter: brightness(1) grayscale(0%);
    border-radius: 7px;
    background-color: #424249;
  }

/* ================== Graphics ================== */

#graphics,
#editing,
#programming {
  display: flex;
  align-items: stretch;
  max-height: 17em;
  text-decoration: none;
  color: #B9B9BF;
}

  #graphics:hover ,
  #editing:hover ,
  #programming:hover {
    border-radius: 10px;
    background-color: #424249;
  }

#graphics img {
  width: 50%;
  height: inherit;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

#graphics div,
#editing div,
#programming div {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ================== Programming ================== */

#programming img {
  width: 50%;
  height: auto;
  border-radius: 0px 10px 10px 0px;
  object-fit: cover;
}

/* ================== Editing ================== */

#editing img {
  width: 50%;
  height: auto;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

/* ================== Support ================== */

#support p {
  max-width: 80%;
  margin: 15px auto 30px;
}

#support-links {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 -5px 8px rgba(19,19,19,0.2);
}

.support-block {
  width: 50%;
  padding: 0px;
  color: #B9B9BF;
  text-decoration: none;
}

  .support-block:hover {
    border-radius: 10px;
    background-color: #424249;
  }

.support-block video {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.support-block h3 {
  text-align: center;
}

.support-block p {
  max-width: 90%;
  margin: 15px auto 15px;
  text-align: center;
}

/* ================== Larger Screens ================== */

@media only screen and (max-width: 900px) 
{   
    #graphics,
    #editing,
    #programming {
      max-height: none;
    }
  
    #graphics img,
    #editing img,
    #programming img{
      height: 16.5em;
    }
  
    #graphics div,
    #editing div,
    #programming div {
      margin: 15px;
      padding: 10px;
    }
}

@media only screen and (max-width: 650px) 
{   
    #graphics img,
    #editing img,
    #programming img{
      height: auto;
    }
  
    #graphics div,
    #editing div,
    #programming div {
      margin: 5px;
      padding: 5px;
    }
}
